* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: lavender;
  }



nav {
    display: flex;
    -ms-flex-align: right;
    background-color: lavender;
  }
  nav header {
    color: black;
    padding-inline-end: 15%;
    text-decoration: none;
    text-align: wrap;
    font-size: xx-large;
  }
  
  nav a {
    color: #13293d;
    padding: 20px;
    text-decoration: none;
    text-align: end;
    text-decoration: underline;
  }

  header {
    background-color: blueviolet;
  }

  .animation-area {
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 100vh;

  }
  
  /* .bg-image {
    flex-basis: 80px;
    min-height: 160px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSi9IPxr2e8ZUhx0YHjSUbMQatseJsGhdw2Q&usqp=CAU");
  }

  .bg-image {
    flex-basis: ;
    min-height: 160px;
    background-image: url("https://www.shutterstock.com/video/clip-8306986-4k-high-res-motion-backgrounds-lens-flare#:~:text=0%3A01,/0%3A20");
  } */


  img {
    max-height: 40%;
    max-width: 40%;
    margin-top: 6%;
  }

  .page-section {
    display:flex
  }

  .title {
    flex: 0 0 20%;
  }

  .content {
    flex: 0 0 77%;
  }

  .portfolio {
    display:flex
  }
  
  a {
    color:black;
  }

  #camera {
    flex-basis: 80px;
    min-height: 350px;
    margin-bottom: 2%;
    background-image: url("./images/CodeQuizSS.png");
    background-size: 600px 600px;
    background-repeat: no-repeat;
  }

  a:hover {
    color: red;
  }

  #camera:hover {
    color: red;
  }

  #LED:hover {
    color: red;
  }

  #cal:hover {
    color: red;
  }

  #LED {
    flex-basis: 80px;
    min-height: 350px;
    margin-bottom: 2%;
    background-image: url("./images/PasswordGeneratorSS.png");
    background-size: 600px 650px;
    background-repeat: no-repeat;

  }

  #cal {
    flex-basis: 80px;
    min-height: 350px;
    margin-bottom: 2%;
    background-image: url("./images/Project1SS.png");
    background-size: 600px 600px;
    background-repeat: no-repeat;

  }

  .subtitle {
    background-color: blueviolet;
    position: absolute;
    margin-top: 100px;
  }

  ul {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: right;
    /* width: calc(100% / 3); */
    height: 120px;
    text-align: center;
  }

  .resume-header {
    display:flex;
    flex-direction: row;
    padding-left: 220px;
    min-width: 80%;
  }
  .column.side {
    width: 25%;
  }

  #contact-info {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    text-decoration: underline; 
    /* margin-top: 60px; */
  }

footer { 
  background-color: blueviolet;
  text-align: center;
  padding: 1%;  
}

